@model List<Product>
@{
	ushort No = 0;
	sbyte commaCheck = 0;
}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Products</h1>
	<p class="mb-4">
		You can manage products here.
	</p>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between align-items-center">
			<h6 class="m-0 font-weight-bold text-primary">Product table</h6>
			<a class="btn btn-primary" asp-action="Create">Add</a>
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>No</th>
							<th>Id</th>
							<th>Name</th>
							<th>Price</th>
							<th>Category</th>
							<th>Tag</th>
							<th>SKU</th>
							<th>Image</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Product item in Model)
						{
							<tr>
								<th>@(++No)</th>
								<th>@item.Id</th>
								<th>@item.Name</th>
								<th>@item.Price</th>
								<th>
									@foreach(ProductCategory cat in item.ProductCategories)
									{
										commaCheck++;
										@cat.Category.Name @(item.ProductCategories.Count == commaCheck ? "":", ")
									}
									@{
										commaCheck = 0;
									}
								</th>
								<th>
									@foreach(ProductTag tag in item.ProductTags)
									{
										commaCheck++;
										@tag.Tag.Name @(item.ProductTags.Count == commaCheck ? "" : ", ")
									}
									@{
										commaCheck = 0;
									}
								</th>
								<th>@item.SKU</th>
								<th>
									<div style="width:150px; height:200px; overflow:hidden;">

									@if (item.ProductImages.Any(pi => pi.Primary))
									{
											<img class="primary-img img-fluid"
											 src="~/Upload/Product/@item.ProductImages.FirstOrDefault(pi=>pi.Primary).ImgUrl"
											 alt="Product Images" />
									}
									</div>
								</th>
								<th>
									<a class="btn btn-secondary" asp-action="Update" asp-route-id=@item.Id>Update</a>
									<a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
								</th>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->